<footer id="main_footer">
  <p class="copyright"> &#169; 2016 Toa Mpango - Share favorite places!</p>
  <nav>
   <a href="http://facebook.com/toampango" target="_blank"><i class="fa fa-facebook-square"></i></a>
   <a href="http://twitter.com/toampango" target="_blank"><i class="fa fa-twitter-square"></i></a>
   <a href="http://linkedin.com/toampango" target="_blank"><i class="fa fa-linkedin-square"></i></a>
  </nav>
 </footer>
